/*-------- UNIVERSALS ---------------------------------------------------------------------------*/
:root {
    --black: #000000;
    --white: #FFFFFF;
    --red:   #9F4A54;
    --green: #657153;
    --blue:  #4E598C;
}
body {
    margin: 0;
    background-color: var(--black);
}
* * {
    font-family: Gadugi;
}
@font-face {
    font-family: "Gadugi";
    src: url("/assets/fonts/gadugi.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gadugi";
    src: url("/assets/fonts/gadugib.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}
/*-------- PAGE LAYOUT --------------------------------------------------------------------------*/
#screenspace {
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
    table-layout: fixed;
}
#content, #navbar, #footer, #nugget {
    border: solid var(--white) 2px;
    vertical-align: top;
}
#content .scrollbox {
padding: 48px;
}
.scrollbox {

    height: calc(100vh - 170px);
  overflow-y: auto;
  vertical-align: top;
}
#navbar {
    width: 192px;
}
#footer {
    height: 64px;
}
#nugget {
    height: 64px;
    width: 192px;
}
@media (max-width: 730px) {
    #screenspace {
        width: 730px;
    }
}
/*-------- CONTENT ------------------------------------------------------------------------------*/
#content h1 {
    font-family: Gadugi;
    font-weight: 700;
    color: var(--white);
    font-size: 48px;
    margin-top: 0px;
}
#content h2 {
    font-family: Gadugi;
    font-weight: 700;
    color: var(--white);
}
#content h3 {
    font-family: Gadugi;
    font-weight: 700;
    color: var(--white);
}
#content p {
    font-family: Gadugi;
    font-weight: 400;
    color: var(--white);
}
#content b * {
    font-weight: 700;
}
#content hr {
    border-top: 2px var(--white) solid;
}
#content h1 {
    text-align: center;
}
#content {
    
}
/*-------- NAVBAR -------------------------------------------------------------------------------*/
#navbar a {
    color: var(--white);
}
#navbar ul li {
    color: white;
}
#navbar {
    vertical-align: top;
    text-align: left;
}
/*-------- FOOTER -------------------------------------------------------------------------------*/
#footer img {
    width: 32px;
    height: 32px;
    margin-top: 16px;
    margin-right: 32px;
    float: right;
    transition: all 0.17s ease;
}
#footer img:hover {
    transform: scale(1.3);
}
#footer a {
    text-decoration: none;
}
#footer p {
    color: var(--white);
    float: left;
    margin-top: 23px;
    margin-left: 23px;
    font-size: 12px;
}
#footer p a {
    color: var(--white);
    text-decoration: underline;
}
/*-------- NUGGET -------------------------------------------------------------------------------*/
#nugget img {
    height: 50px;
    margin-top: 7px;
    margin-left: 8px;
    padding: 0;
}